# Config dosyası (API key gizli kalacak)
config.js

# Windows / temp dosyaları
Thumbs.db
*.log
*.tmp

# Visual Studio temporary files, build results, vb.
*.suo
*.user
*.userosscache
*.sln.docstates
[Dd]ebug/
[Rr]elease/
x64/
x86/
bin/
obj/
.vs/
